*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/openCVLibrary3413/build/
/openCVLibrary3413/build/intermediates/javac/debug/classes/
# Project exclude paths
/tensorflow-android-1.13.0-rc2/build/